{% extends "base.html" %}
{% block content %}

<h2>Course List</h2>
<h3>current competition courses</h3>

<table>
    <tr>
        <th>Course</th>
        <th>Name</th>
        <th>Map diagram</th>
    </tr>
    {% for course in course_list %}
        <tr>
            <td>{{course[0]}}</td>
            <td>{{course[1]}}</td>
            <td><img src="{{ url_for('static', filename=course[2]) }}" alt="{{course[1]}}" width="300"></td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
